[Desktop Entry]
Encoding=UTF-8
Name=Wavi
Comment=Wavi P2P Cryptocurrency
Comment[fr]=Wavi, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Wavi, eşten eşe kriptografik sanal para birimi
Exec=wavi-qt %u
Terminal=false
Type=Application
Icon=wavi128
MimeType=x-scheme-handler/wavi;
Categories=Office;Finance;
